#------------------- DATA -------------------------------------- 

ID: order ID number 
Delivery_person_ID: ID number of the delivery partner
Delivery_person_Age: Age of the delivery partner
Delivery_person_Ratings: ratings of the delivery partner based on past deliveries
Restaurant_latitude: The latitude of the restaurant
Restaurant_longitude: The longitude of the restaurant
Delivery_location_latitude: The latitude of the delivery location
Delivery_location_longitude: The longitude of the delivery location
Type_of_order: The type of meal ordered by the customer
Type_of_vehicle: The type of vehicle delivery partner rides
Time_taken(min): The time taken by the delivery partner to complete the order

datasource link: https://thecleverprogrammer.com/2023/01/02/food-delivery-time-prediction-using-python/

- The regression methods did not work so I used the deep learning method in
the article. The success rate of the model in the article is %62 because
it is using only threee parameters. I added verbal variables as well.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("deliverytime.txt", header=0)

In [3]:
# EDA

In [4]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

In [5]:
df.tail()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
45588,7C09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,Meal,motorcycle,32
45589,D641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,Buffet,motorcycle,36
45590,4F8D,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,Drinks,scooter,16
45591,5EEE,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,Snack,motorcycle,26
45592,5FB2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,Snack,scooter,36

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  int64
 3   Delivery_person_Ratings      45593 non-null  float64
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Type_of_order                45593 non-null  object
 9   Type_of_vehicle              45593 non-null  object
 10  Time_taken(min)              45593 non-null  int64
dtypes: float64(5), int64(2), object(4)
memory usage: 3.8+ MB

In [7]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    # I obtained the haversine_distance function from chatGPT
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    
    # Differences between latitudes and longitudes
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    # Haversine formula
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    # Calculate distance in kilometers
    distance = R * c
    return distance

df['distance'] = df.apply(lambda row: haversine_distance(row['Restaurant_latitude'], row['Restaurant_longitude'],  \
                                                      row['Delivery_location_latitude'], row['Delivery_location_longitude'] \
                                                      ), axis=1)

In [8]:
df.drop(['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude'], axis=1, inplace = True)

In [9]:
df.drop(['ID','Type_of_order','Delivery_person_ID'], axis=1,inplace =True)

In [10]:
abs(df.corr()['Time_taken(min)']).sort_values(ascending=False)

C:\Users\haluk\AppData\Local\Temp\ipykernel_13096\368622265.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  abs(df.corr()['Time_taken(min)']).sort_values(ascending=False)

Time_taken(min)            1.000000
Delivery_person_Ratings    0.331103
Delivery_person_Age        0.292708
distance                   0.002508
Name: Time_taken(min), dtype: float64

In [11]:
#column = 'Delivery_person_ID';
#value_counts = df[column].value_counts()
#num_categories = len(value_counts)
        
# İki alt kategorisi varsa 0 ve 1 olarak kodlayalım
#if num_categories == 2:
#    category_mapping = {category: index for index, category in enumerate(value_counts.index)}
#    df[column] = df[column].map(category_mapping)
    # İki alt kategoriden fazlaysa 1'den başlayan sıralı sayılarla kodlayalım
#else:
#    category_mapping = {category: index + 1 for index, category in enumerate(value_counts.index)}
#    df[column] = df[column].map(category_mapping)
#df.drop([column], axis = 1, inplace = True)

In [12]:
y = df['Time_taken(min)']
x = df.drop(['Time_taken(min)'],axis=1)

#x = df[["Delivery_person_Age", 
#                "Delivery_person_Ratings", 
#                   "distance"]]
#y = df[["Time_taken(min)"]]

In [13]:
x= pd.get_dummies(x,drop_first=True)

In [14]:
x.shape

(45593, 6)

In [15]:
def fnc_all_regression_models(x,y):
    
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge,Lasso
    from sklearn.linear_model import ElasticNet
    from sklearn.tree import ExtraTreeRegressor
    from sklearn.ensemble import GradientBoostingRegressor
    from sklearn.neighbors import KNeighborsRegressor
    
    from sklearn.model_selection import train_test_split

    from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
    from sklearn.preprocessing import PolynomialFeatures
    from sklearn.pipeline import Pipeline
    from sklearn import svm
    from sklearn.tree import DecisionTreeRegressor
    from sklearn.ensemble import RandomForestRegressor
    
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

    L=LinearRegression()
    R=Ridge()
    Lass=Lasso()
    E=ElasticNet()
    ExTree=ExtraTreeRegressor()
    GBR=GradientBoostingRegressor()
    KN=KNeighborsRegressor()
    PLR = Pipeline([('poly', PolynomialFeatures(degree=2)),
        ('linear', LinearRegression(fit_intercept=True))])
    SVM = svm.SVR()
    DTR = DecisionTreeRegressor(max_depth=12)
    RFR=RandomForestRegressor(n_estimators=100, max_features=100, max_leaf_nodes=100,random_state=42)

    algos=[L,R,Lass,E,ExTree,GBR,KN,PLR, SVM, DTR,RFR]
    algo_names=['LinearRegression','Ridge','Lasso','ElasticNet','ExtraTreeRegressor',
                'GradientBoostingRegressor','KNeighborsRegressor','Polynomial',
                'Support Vector Regression', 'Decision Tree Regressor','Random Forest Regressor']
    r_squared=[]
    rmse=[]
    mae=[]
    
    result = pd.DataFrame(columns=['R_Squared','RMSE','MAE'],index=algo_names)
    
    for item in algos:
        item.fit(x_train,y_train)
        item.predict(x_test)
        r_squared.append(r2_score(y_test,item.predict(x_test)))
        rmse.append((mean_squared_error(y_test,item.predict(x_test)))**.5)
        mae.append(mean_absolute_error(y_test,item.predict(x_test)))
        
    result.R_Squared=r_squared
    result.RMSE=rmse
    result.MAE=mae
        
    return result.sort_values('R_Squared',ascending=False)

In [16]:
fnc_all_regression_models(x,y)

                           R_Squared       RMSE       MAE
Random Forest Regressor     0.409011   7.198388  5.667627
GradientBoostingRegressor   0.406180   7.215613  5.673092
Decision Tree Regressor     0.329837   7.665417  5.964992
KNeighborsRegressor         0.262924   8.038993  6.297489
Polynomial                  0.208077   8.332725  6.586526
LinearRegression            0.203042   8.359177  6.607404
Ridge                       0.203037   8.359200  6.607431
ElasticNet                  0.108317   8.842007  7.100385
Lasso                       0.086497   8.949539  7.198703
Support Vector Regression   0.042552   9.162273  7.352763
ExtraTreeRegressor         -0.163839  10.101644  7.735893

In [28]:
#splitting data
from sklearn.model_selection import train_test_split
#x = np.array(df[["Delivery_person_Age", 
#                   "Delivery_person_Ratings", 
#                   "distance"]])
#y = np.array(df[["Time_taken(min)"]])


xtrain, xtest, ytrain, ytest = train_test_split(x, y,  test_size=0.10, random_state=42)

# creating the LSTM neural network model
from keras.models import Sequential
from keras.layers import Dense, LSTM
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape= (xtrain.shape[1], 1)))
model.add(LSTM(64, return_sequences=False ))
model.add(Dense(64))
model.add(Dense(64))
model.add(Dense(25))
model.add(Dense(19))
model.add(Dense(10))
model.add(Dense(1))
model.summary()

# training the model
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(xtrain, ytrain, batch_size=1, epochs=10)

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_6 (LSTM)               (None, 6, 128)            66560

 lstm_7 (LSTM)               (None, 64)                49408

 dense_16 (Dense)            (None, 64)                4160

 dense_17 (Dense)            (None, 64)                4160

 dense_18 (Dense)            (None, 25)                1625

 dense_19 (Dense)            (None, 19)                494

 dense_20 (Dense)            (None, 10)                200

 dense_21 (Dense)            (None, 1)                 11

=================================================================
Total params: 126618 (494.60 KB)
Trainable params: 126618 (494.60 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
Epoch 1/10
41033/41033 [==============================] - 98s 2ms/step - loss: 70.3501
Epoch 2/10
41033/41033 [==============================] - 95s 2ms/step - loss: 62.9000
Epoch 3/10
41033/41033 [==============================] - 90s 2ms/step - loss: 60.2525
Epoch 4/10
41033/41033 [==============================] - 88s 2ms/step - loss: 59.1533
Epoch 5/10
41033/41033 [==============================] - 88s 2ms/step - loss: 58.2627
Epoch 6/10
41033/41033 [==============================] - 88s 2ms/step - loss: 57.7094
Epoch 7/10
41033/41033 [==============================] - 93s 2ms/step - loss: 57.2351
Epoch 8/10
41033/41033 [==============================] - 96s 2ms/step - loss: 57.4491
Epoch 9/10
41033/41033 [==============================] - 95s 2ms/step - loss: 56.8785
Epoch 10/10
41033/41033 [==============================] - 96s 2ms/step - loss: 56.3561

In [29]:
predictions = model.predict(xtest)

143/143 [==============================] - 1s 3ms/step

In [30]:
ytest.shape

(4560,)

In [31]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((41033, 6), (4560, 6), (41033,), (4560,))

In [32]:
Accuracy_percentage_v = 1 - np.abs( predictions.flatten() - ytest ) / np.abs( ytest )
#percentage error is
np.mean( Accuracy_percentage_v )

0.759515399548253